@import "utilities/variables.scss";
@import "components/sectionTitle.scss";
@import "components/button.scss";

// border: 1px solid black;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font1;
  color: $darkGrey;
  // border: 1px solid black;
}

a {
  text-decoration: none;
}

////////////////////////////////////////
/* Mobile */
////////////////////////////////////////
/// ////////////////////////////////////////
/// ////////////////////////////////////////
/// ////////////////////////////////////////
/// ////////////////////////////////////////
/// ////////////////////////////////////////
/// ////////////////////////////////////////
/// ////////////////////////////////////////
/// ////////////////////////////////////////
section,
footer {
  position: relative;
  padding: 50px 10vw 50px 10vw;
}

////////////////////////////////////////
///////////// Navbar Section/////////////
////////////////////////////////////////

.navbar-unscroll {
  background-color: $lightGrey;
  z-index: 2;
  position: fixed;
  overflow: hidden;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  transition: $transition-speed;
}
.scrolled {
  box-shadow: 0 0 4px #404040;
  background-color: white;
  transition: $transition-speed;
}

.navbarSection {
  padding: 0;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 64px;

    .menu {
      cursor: pointer;
      position: relative;
      width: calc(40px * $burgerSize);
      height: calc(40px * $burgerSize);
    }
    .menu-global {
      backface-visibility: hidden;
      position: absolute;
      left: 0;
      border-top: calc(7px * $burgerSize) solid $lightBlack;
      width: 100%;
      transition: 0.55s;
    }
    .menu-top {
      top: 0;
    }
    .menu-middle {
      top: calc(18px * $burgerSize);
    }
    .menu-bottom {
      top: calc(36px * $burgerSize);
    }
    .menu-top-click {
      backface-visibility: hidden;
      top: calc(15px * $burgerSize);
      transform: rotate(50deg);
      transition: 0.55s 0.5s;
    }
    .menu-middle-click {
      opacity: 0;
    }
    .menu-bottom-click {
      backface-visibility: hidden;
      top: calc(15px * $burgerSize);
      transform: rotate(-410deg);
      transition: 0.55s 0.5s;
    }
  }

  .desktopNavbar {
    display: none;
  }

  .mobileNavbar {
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;

    height: 30vh;
    overflow-y: hidden;
    transition: height 0.6s ease-in-out;

    li {
      text-align: center;
      text-transform: capitalize;
      padding: 5px 0;
      list-style: none;
      line-height: 1.75;

      a:hover {
        color: $ocre;
      }
    }
  }
  .unvisible {
    height: 0px;
    padding: 0;
  }
}

//////////////////////////////////////
/////////// Intro Section /////////////
////////////////////////////////////////
.introSection {
  background-color: $lightGrey;
  padding: 150px 10vw 100px 10vw;

  .content {
    @include flex-centered-mobile;
    gap: 32px;

    h1 {
      font-size: 2rem;
    }
  }
  .waveDesktop {
    display: none;
  }
  .waveMobile {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .waveMobile svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 79px;
  }

  .waveMobile .shape-fill {
    fill: #ffffff;
  }
}

////////////////////////////////////////
////////Presentation Section ///////////
////////////////////////////////////////

.presentationSection {
  .presentation {
    h2 {
      padding: 10px 0;
    }
    .content {
      @include flex-centered-mobile;
      p {
        line-height: 1.75;
        font-weight: 500;
      }
      img {
        border-radius: 50%;
        max-width: 225px;
      }
    }
  }
}

////////////////////////////////////////
//////// Reference Section ///////////
////////////////////////////////////////

.referenceSection {
  background-color: $lightGrey;

  .references {
    @include flex-centered-mobile;
    gap: 32px;
  }

  .companiesContainer {
    @include flex-centered;
    flex-wrap: wrap;

    img {
      max-width: 100%;
    }
  }
}

////////////////////////////////////////
//////// Expertise Section ///////////
////////////////////////////////////////
.expertiseSection {
}

////////////////////////////////////////
//////////// Footer ////////////////////
////////////////////////////////////////

footer {
  background-color: $lightGrey;

  .curve {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .curve svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 104px;
  }

  .curve .shape-fill {
    fill: #ffffff;
  }

  .container {
    @include flex-centered-mobile;
    gap: 52px;
    padding: 30px 0;

    .text {
      @include flex-centered-mobile;
      p {
        text-align: center;
        line-height: 1.75;
        font-weight: 500;
      }
    }

    .info {
      @include flex-centered-mobile;
      gap: 22px;
      padding-bottom: 20px;

      li {
        text-align: center;
        list-style: none;
        line-height: 1.75;
      }

      .linkedinContainer {
        position: relative;
      }

      .fa-linkedin {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $ocre;
        font-size: 30px;
        transition: $transition-speed;
      }
      .fa-linkedin:hover {
        font-size: 36px;
      }
    }

    .callToAction {
      @include flex-centered-mobile;
      gap: 16px;
    }
  }
}

////////////////////////////////////////
/// ////////////////////////////////////////
/// ////////////////////////////////////////
/// ////////////////////////////////////////
/// ////////////////////////////////////////
/// ////////////////////////////////////////
/// ////////////////////////////////////////
/// ////////////////////////////////////////
/// ////////////////////////////////////////
/// ////////////////////////////////////////
/// ////////////////////////////////////////
/// ////////////////////////////////////////
/// /* Tablet  */
@media (min-width: 600px) {
}

////////////////////////////////////////
/// ////////////////////////////////////////
/// ////////////////////////////////////////
/// ////////////////////////////////////////
/// ////////////////////////////////////////
/// ////////////////////////////////////////
/// ////////////////////////////////////////
/// ////////////////////////////////////////
/// ////////////////////////////////////////
/// ////////////////////////////////////////
/// ////////////////////////////////////////
/// /* Desktop */
@media (min-width: 900px) {
  ////////////////////////////////////////
  ///////////// Navbar Section/////////////
  ////////////////////////////////////////

  .header {
    display: flex;
    justify-content: center;
    align-items: center;

    .menu {
      display: none;
    }

    .desktopNavbar {
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;

      ul {
        @include flex-centered;
        gap: 5rem;
        flex-wrap: wrap;

        li {
          text-decoration: none;
          text-transform: uppercase;
          list-style: none;
          padding: 40px 0;
          font-size: 0.9rem;
          font-weight: 600;
          cursor: pointer;

          a {
            text-decoration: none;
          }

          a:hover {
            color: $ocre;
          }
        }
      }
    }
  }

  //////////////////////////////////////
  /////////// Intro Section /////////////
  ////////////////////////////////////////

  .introSection {
    padding-bottom: 200px;
    .content {
      flex-direction: row;

      h1 {
        font-size: 4rem;
        width: 70vw;
        padding: 0 10px;
      }
      .buttonContainer {
        width: 30vw;
      }

    }

    .waveMobile {
      display: none;
    }
    .waveDesktop {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      transform: rotate(180deg);
    }

    .waveDesktop svg {
      position: relative;
      display: block;
      width: calc(137% + 1.3px);
      height: 206px;
    }

    .waveDesktop .shape-fill {
      fill: #ffffff;
    }
  }

  ////////////////////////////////////////
  ////////Presentation Section ///////////
  ////////////////////////////////////////

  .presentationSection {
    .presentation {
      .content {
        flex-direction: row;
      }
      p {
        width: 70vw;
        padding-right: 40px;
      }

      .img-container {
        padding: 0 100px;
      }
    }
  }

  ////////////////////////////////////////
  //////// Reference Section ///////////
  ////////////////////////////////////////

  ////////////////////////////////////////
  //////// Expertise Section ///////////
  ////////////////////////////////////////
  .expertiseSection {
  }

  ////////////////////////////////////////
  //////////// Footer ////////////////////
  ////////////////////////////////////////

  footer {
    .container {
      flex-direction: row;

      .text {
        flex: 1 1 0px;
      }

      .info {
        flex: 1 1 0px;
      }

      .callToAction {
        flex: 1 1 0px;
      }
    }
  }
}
