@import "../utilities/variables.scss";

@mixin flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-div {
  @include flex-centered;
  width: 30vw;
  padding: 20px;
}
.button-contact {
  color: white;
  padding: 20px;
  font-size: 1.1rem;
  font-weight: 500;
  background-color: $ocre;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 16px 0px rgb(0 0 0 / 10%);
  transition: $transition-speed;
  z-index: 1;
}

.button-contact:hover {
  background-color: black;
}
